In [1]:
import pandas as pd

In [2]:
path = r"C:\Users\h\OneDrive\Desktop\Machine-Learning-Algorithms\Supervised Learning\Logistic Regression\loan_approval\data\raw_data/loan_data.csv"

In [3]:
df = pd.read_csv(path)

In [19]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001001,Male,No,0,Graduate,0.0,5849,0,128.0,360.0,1.0,Urban,Y
1,LP001002,Male,Yes,1,Graduate,0.0,4583,1508,128.0,360.0,1.0,Rural,N
2,LP001003,Male,Yes,0,Graduate,0.0,3000,0,66.0,360.0,1.0,Urban,Y
3,LP001004,Male,Yes,0,Not Graduate,0.0,2583,2358,NaN,360.0,1.0,Urban,Y
4,LP001005,Female,No,0,Graduate,0.0,6000,0,141.0,360.0,1.0,Semiurban,Y

In [5]:
df.isna().sum()

Loan_ID              0
Gender               1
Married              0
Dependents           1
Education            0
Self_Employed        1
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           2
Loan_Amount_Term     1
Credit_History       1
Property_Area        0
Loan_Status          0
dtype: int64

In [8]:
df["Gender"] =df["Gender"].ffill()

In [11]:
df["Dependents"] = df["Dependents"].replace('3',3)

In [12]:
df["Dependents"] = df["Dependents"].fillna(df["Dependents"].mode()[0])

In [17]:
df["Self_Employed"] = df["Self_Employed"].map({"Yes":1,"No":0})
df["Self_Employed"] = df["Self_Employed"].fillna(0)

In [20]:
df["LoanAmount"] = df["LoanAmount"].fillna(df["LoanAmount"].mean())

In [22]:
df["Loan_Amount_Term"] =df["Loan_Amount_Term"].bfill()

In [24]:
df["Credit_History"] = df["Credit_History"].fillna(0.0)

In [26]:
df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64