In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("logistic_with_gender.csv")

In [4]:
df.head()

          x  gender  y
0  3.745401    Male  0
1  9.507143  Female  1
2  7.319939    Male  1
3  5.986585    Male  1
4  1.560186  Female  0

In [5]:
df.isna().sum()

x         0
gender    0
y         0
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df.shape

(100, 3)

In [8]:
df.info

<bound method DataFrame.info of            x  gender  y
0   3.745401    Male  0
1   9.507143  Female  1
2   7.319939    Male  1
3   5.986585    Male  1
4   1.560186  Female  0
..       ...     ... ..
95  4.937956  Female  1
96  5.227328  Female  0
97  4.275410    Male  1
98  0.254191    Male  0
99  1.078914  Female  0

[100 rows x 3 columns]>

In [9]:
df.describe()

                x           y
count  100.000000  100.000000
mean     4.701807    0.490000
std      2.974894    0.502418
min      0.055221    0.000000
25%      1.932008    0.000000
50%      4.641425    0.000000
75%      7.302031    1.000000
max      9.868869    1.000000